* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    
}
.home-img, img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    margin: 0;
    width: 100%;
    border-radius: 10px;
}



/* typography */
h1 {
    color: #003f88;
    font-size: 1rem;
    margin: 0;
    font-weight: 900;
    letter-spacing: 1px;
}

h2 {
   color: #118ab2;
    font-size: 1rem;
    text-transform: uppercase;
}
p { 
    color:#212529 ;
    font-weight: 300 ;
    font-size: 1rem;
    width: 70%;
    letter-spacing: 1px;
}
.info-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Happy Monkey', cursive;
    font-weight: 900;
}
#excerpt {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.5rem;
    color: #118ab2;
}


/* layout */
.wrapper {
    display:  block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:#d5bdaf;
}
.hero-container {
    position: relative;
    display: block;
    border-radius: 10px;
   
    
}
.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1400px;
 }
 .container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
 }
 header {
    padding: .5em 0;
    
    
 }
 
 
 /* navigation */
 nav ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 900;
    font-size: .8rem;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 1px;
 }
 nav li {
    margin: .5em 0;
 }
 nav a {
    text-decoration: none;
    color: #0a0908;
 }
 li a:hover,
 li a:focus,
 li a :active {

    color: #003f88;
    font-weight: 700;
 }
 .current-page {
    border-bottom: 1px solid #707070;
 }
/* animination */

 .animated-bg {
    background-image: linear-gradient(to right,
     #f6f7f8 0%, 
     #edeef1 10%,
      #f6f7f8 20%, 
      #f6f7f8 100%
      );
    background-size:  200% 100%;
    animation: bgPos 1s linear infinite;
}
.animated-bg-text {
    border-radius: 50px;
    display: inline-block;
    margin: .2em;
    height: 10px;
    width: 100%;
}

@keyframes bgPos {
    0% {
        background-position: 50% 0;
    }

    100% {
        background-position: -150% 0;
    }
}
 

 /*@media screen from 510px to 750px */
 @media (min-width:500px) {
    .hero-container {
        background-color: #99582a;
    }
    .animated-bg-text {
        width: 500%;
        margin: .5em;
    }
    
    .container {
        margin: 0 auto;
    }
    header {
        text-align: center;
        
    }
    nav ul {
        flex-direction: row;
        justify-content: center;
        
    }
    nav li {
        margin: 0 auto;
        font-size: 1rem;
    }
    .info-text {
        margin-top: 0;
        order: 1;
    }
    img {
        flex-direction: column;
        order: -1;
    }
    h1 {
        font-size: 2rem;
    }
    h2,p {
        text-align: center;
        width: 100%;
    }
    h2 {
        padding-bottom: 0;
    }

    .wrapper {
        background-color: #fff;
     }
    
    
 }

 @media (min-width:750px) {
    .hero-container {
        background-color: #797270;
    }
    .container {
        margin: 4em auto;
    }

    .wrapper {
        background-color:#d5bdaf;
    }
    .container-flex{
        flex-direction: row;
        padding-bottom: 0;
    }
    
    h1 {
        font-size: 2rem;
    }
    h2,p  {
        width: 70%;
        
    }
    p {
        margin: 0;
    }
    
    nav ul {
       margin-left: 1rem; 
       padding: 0;
       
    }
    nav li {
        font-size: 1rem;
        margin-left: 2rem ;
    }
   
    img {
        order: 1;
    }
    .info-text {
        order: -1;
    }
   
    
    
 }


 /* media Quries for phones and tablets */
 @media (max-width:500px) {
    .hero-container {
        background-color:#92aa83 ;
    }
    .container {
        margin: 0 auto;
    }
    .container-flex {
        padding-bottom: 0;
    }
    header {
        text-align: center;
        padding: .2rem 0;
    }
    h1 {
        font-size: 2rem;
        color: #003f88;
    }
    nav li {
        font-size: 1.2rem;
        margin: .8em 0;
    }
   
   
    .info-text {
        text-align: center;
        width: 100%;
        order: 1;
     }
    
   
    h2,p {
        text-align: center;
        width: 100%;
        font-size: 1rem;
    }
    h2 {
        padding-bottom: 0;
    }
    p {
        font-size: .9rem;
    }
    
    .wrapper {
       background-color: #fff;
    }

 }